<nav id="topheader" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand mr-5" href="#">Hello Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link " routerLink="/"><i class="fa fa-home"></i> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact"><i class="fa fa-address-book"></i> Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/produit"><i class="fa fa-product-hunt"></i> Produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/livres"><i class="fa fa-book"></i> Livres</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ml">
          <a class="nav-link" routerLink="/signin">Se Connecter</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" routerLink="/meteo">Outils de meteo </a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" routerLink="/lt">Outils de traduction </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Me</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
<div class="">
  <router-outlet></router-outlet>

</div>
