
body {
  margin: 20px;
}
#topheader {
  background: #7952b3!important;
}
#topheader .navbar-nav li > a {
  text-transform: capitalize;
  color: #ccc;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}
#topheader .navbar-nav li > a:hover,
#topheader .navbar-nav li > a:focus {
  background-color: #005596;
  color: #fff;
}
#topheader .navbar-nav li.active > a {
  background-color: #3990E0;
  color: white;
}
